.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.node-container {
  border: 1px solid #fff;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

.node-container.circle {
  border-radius: 50%;
}

.node-container.light-blue {
  background-color: #2195f32b;
}

.node-container.dark-blue {
  background-color: #3F51B52b;
}

.node-container p {
  margin: 0;
  padding: 4px;
}

.node-description {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  width: 70px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.node-description p {
  margin: 0;
  font-size: 8px;
}